@charset "utf-8";
.table1_tr1{ width:100%; font-family:"微软雅黑"; font-size:24px; text-align:center; margin:0 auto;}
.table1_tr2{ font-family:"微软雅黑"; font-size:24px;}
table { width:100%; font-family:"微软雅黑"; text-align:left;}
